.App-logo-static {
  width: width(120px);
  height: height(120px);
}

.App-Bike-Move-Forward {
  width: width(120px);
  height: height(120px);
  -webkit-animation-name: App-Bike-Move-Forward;
          animation-name: App-Bike-Move-Forward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-Bike-Move-Backward {
  width: width(120px);
  height: height(120px);
  -webkit-animation-name: App-Bike-Move-Backward;
          animation-name: App-Bike-Move-Backward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-logo-static {
  width: width(360px);
  height: height(240px);
}

.App-Bike-Move-Forward {
  width: width(360px);
  height: height(240px);
  -webkit-animation-name: App-Bike-Move-Forward;
          animation-name: App-Bike-Move-Forward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-Bike-Move-Backward {
  width: width(360px);
  height: height(240px);
  -webkit-animation-name: App-Bike-Move-Backward;
          animation-name: App-Bike-Move-Backward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-logo-static {
  width: width(120px);
  height: height(300px);
}

.App-Bike-Move-Forward {
  width: width(120px);
  height: height(300px);
  -webkit-animation-name: App-Bike-Move-Forward;
          animation-name: App-Bike-Move-Forward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-Bike-Move-Backward {
  width: width(120px);
  height: height(300px);
  -webkit-animation-name: App-Bike-Move-Backward;
          animation-name: App-Bike-Move-Backward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-logo-static {
  width: width(240px);
  height: height(120px);
}

.App-Bike-Move-Forward {
  width: width(240px);
  height: height(120px);
  -webkit-animation-name: App-Bike-Move-Forward;
          animation-name: App-Bike-Move-Forward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-Bike-Move-Backward {
  width: width(240px);
  height: height(120px);
  -webkit-animation-name: App-Bike-Move-Backward;
          animation-name: App-Bike-Move-Backward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-logo-static {
  width: width(240px);
  height: height(240px);
}

.App-Bike-Move-Forward {
  width: width(240px);
  height: height(240px);
  -webkit-animation-name: App-Bike-Move-Forward;
          animation-name: App-Bike-Move-Forward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-Bike-Move-Backward {
  width: width(240px);
  height: height(240px);
  -webkit-animation-name: App-Bike-Move-Backward;
          animation-name: App-Bike-Move-Backward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-logo-static {
  width: width(240px);
  height: height(240px);
}

.App-Bike-Move-Forward {
  width: width(240px);
  height: height(240px);
  -webkit-animation-name: App-Bike-Move-Forward;
          animation-name: App-Bike-Move-Forward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App-Bike-Move-Backward {
  width: width(240px);
  height: height(240px);
  -webkit-animation-name: App-Bike-Move-Backward;
          animation-name: App-Bike-Move-Backward;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App {
  text-align: center;
}

.App-logo-static2 {
  width: 360px;
  height: 240px;
}

/*
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */
/*
   @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  width: 500px;
  height: 300px;
  text-align: center;
  margin: 0;
  background-color: red;
  position: relative;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(8, [row] 60px)/repeat(12, [col] 60px);
  grid-gap: 0px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-family: 'Overpass', sans-serif;
  font-size: 4em;
  line-height: 1;
  color: white;
}

.item-1 {
  grid-column: col 3 / span 2;
  grid-row: row 1 / span 2;
  background: -webkit-gradient(linear, right top, left top, from(#6441a5), to(#2a0845));
  background: linear-gradient(to left, #6441a5, #2a0845);
}

.item-2 {
  grid-column: col 3 / span 6;
  grid-row: row 3 / span 4;
  background: -webkit-gradient(linear, left top, right top, from(#ffb347), to(#ffcc33));
  background: linear-gradient(to right, #ffb347, #ffcc33);
  z-index: 1;
}

.item-3 {
  grid-column: col 9 / span 2;
  grid-row: row 2 / span 5;
  background: -webkit-gradient(linear, left bottom, left top, from(#d38312), to(#a83279));
  background: linear-gradient(to top, #d38312, #a83279);
  z-index: 1;
}

.item-4 {
  grid-column: col 3 / span 4;
  grid-row: row 6 / span 2;
  z-index: 2;
  background: -webkit-gradient(linear, right top, left top, from(#b3ffab), to(#12fff7));
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.item-5 {
  grid-column: col 1 / span 4;
  grid-row: row 5 / span 4;
  background: -webkit-gradient(linear, left bottom, left top, from(#485563), to(#29323c));
  background: linear-gradient(to top, #485563, #29323c);
}

.item-6 {
  grid-column: col 9 / span 4;
  grid-row: row 5 / span 4;
  background: -webkit-gradient(linear, left top, right top, from(#fe8c00), to(#f83600));
  background: linear-gradient(to right, #fe8c00, #f83600);
}

/*
  .anime { animation: turner 4s infinite linear }
  
  @keyframes turner{
    0% {transform: translateX(0px)}
    25% {transform: translateX(-50px)}
    50% {transform: translateX(-100px)}
    75% {transform: translateX(-150px)}
    100% {transform: translateX(-1200px)}
  } */
@-webkit-keyframes App-Bike-Move-Forward {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  50% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  75% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
}
@keyframes App-Bike-Move-Forward {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  50% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  75% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
}

@-webkit-keyframes App-Bike-Move-Backward {
  0% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
  25% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  50% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  75% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes App-Bike-Move-Backward {
  0% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
  25% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  50% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  75% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*
  @keyframes App-Bike-Move-Backward {
    from {
      transform: translateX(-1500px);
    }
    to {
      transform: translateX(0px);
    }
  }
  */
/*
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
/*# sourceMappingURL=styles.css.map */